<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп для {{sign|upper}}</title>
</head>
<body>
    <h1>Приложение Гороскоп</h1>

    {% if description is None %}
        <h2>Неправильный знак зодиака {{sign|upper}}</h2>
    {% else %}
        <h2>{{description|title|safe}}</h2>
    {% endif %}

    {% if my_list|length >= 3 %}
        <p>Список из трёх или более элементов - {{my_list}}</p>
    {% elif my_list|length == 2 %}
        <p>Список из двух элементов - {{my_list}}</p>
    {% elif my_list|length == 1 %}
        <p>Список из одного элемента - {{my_list}}</p>
    {% else %}
        <p>Пустой список - {{my_list}}</p>
    {% endif %}

    <p>Число {{my_int|add:my_float}}</p>
    <p>Число вещественное {{my_float}}</p>
    <p>Список {{my_list}}</p>
    <p>Кортеж {{my_tuple|join:'!'}}</p>
    <p>Словарь {{my_dict}}, ключ - {{my_dict.name}}</p>
    <p>Экземпляр класса {{my_class}} {{my_class.age}}</p>
    <p>default {{value|default:'qwerty'}}</p>
</body>
</html>